header {
    height: $unit * 7;
    background-color: $color-grey;
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    &__item {
        color: $text-color-secondary;
        border-radius: $border-radius;
        background-color: $color-secondary;
        padding: $unit;
        margin-left: $unit;
        font-weight: 700;
        cursor: pointer;
        &_selected {
            background-color: $color-primary;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}