.already-learned ol {
    background-color: green;
    color: white;
}

.to-be-learned ul {
    background-color: orange;
    color: green;
}

.to-be-learned code {
    background-color: green;
}

.already-learned code {
    background-color: orange;
}

#special2~li {
    font-size: 24px;
}

#special1+h4>code {
    border: 2px solid blue
}