.already-learned ol {
    background-color: green;
    color: white;
}

#special1+li code {
    border: 2px solid blue;
}

.to-be-learned ol {
    background-color: orange;
    color: green;
}

li code {
    background-color: green;
}

.already-learned code {
    background-color: orange;
}

#special2~li {
    font-size: 24px;
}