* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image {
    height: 200px;
    width: 200px;
    margin: 16px;
    border: 1px dotted grey;
}

.image:nth-child(1) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image:nth-child(2) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image:nth-child(3) {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.gallery {
    display: flex;
}