* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: monospace;
}

body {
    background-color: bisque;
}

.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
    width: 300px;
    font-size: 16px;
    font-family: monospace;
    padding: 16px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
}

.form-title {
    text-transform: uppercase;
    text-align: center;
}

.form-input {
    margin-top: 4px;
}

input {
    width: 100%;
    outline: none;
    height: 32px;
    border-radius: 4px;
    border: 1px solid #808080;
    padding: 4px;
    margin-bottom: 8px;
    box-sizing: border-box;
}

.submit-button {
    width: 100%;
    margin-top: 16px;
    height: 32px;
    background-color: #ff7f50;
    text-transform: uppercase;
    color: white;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="email"],
input[type="password"] {
    box-sizing: border-box;
    border: 3px solid #ff0000;
}