* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.square {
    width: 100px;
    height: 100px;
    background-color: tomato;
    transform: translate(200px, 100px) rotate(45deg) scale(1.5)
}